body {
    margin: 0;
}

.pane {
    padding-top: 1%;
    height: 28vh;
    display: flex;
}

@media (max-width: 1300px) {
    .pane {
        height: 38vh;
    }
}

@media (max-width: 900px) {
    .pane {
        height: 58vh;
    }
}

.topPane {
    background-color: hsl(225, 6%, 25%);

    height: 43vh;
    display: flex;
}

.editorContainer {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: hsl(225, 6%, 25%);
}

.editorContainer.collapsed {
    flex-grow: 0;
}

.editorContainer.collapsed .CodeMirror-scroll {
    position: absolute;
    overflow: hidden !important;
}

.expandCollapseBtn {
    margin-left: .5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.editorTitle {
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 6%, 13%);
    color: white;
    padding: .5rem .5rem .5rem 1rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.CodeMirror {
    height: 100% !important;
}

.codeMirrorWrapper {
    flex-grow: 1;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    overflow: hidden;
}