.textBanner {
    backdrop-filter: blur(5px);
}

.textTop {
    top: 10%;
}

@media (min-width: 540px) {
    .textTop {
        top: 14%;
    }
}

@media (min-width: 800px) {
    .textTop {
        top: 16%;
    }
}

@media (min-width: 1024px) {
    .textTop {
        top: 14%;
    }
}

@media (min-width: 1100px) {
    .textTop {
        top: 18%;
    }
}

@media (min-width: 1280px) {
    .textTop {
        top: 24%;
    }
}

@media (min-width: 1400px) {
    .textTop {
        top: 14%;
    }
}